body{
    background-color: aquamarine;
}
.heading{
    text-justify:auto;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}